%h3
  Visualizing Hospital Price Data

%p
  Transformation of the health care delivery system cannot occur without greater price transparency.
  Efforts to increase price transparency have multiplied in recent years, but much remains to be done.
  Hospital prices are particularly opaque, and vary significantly depending on who is paying the bill.
  Currently consumers don’t know what a hospital will charge them for a given procedure or how much of a price
  difference there exists at different hospitals.

%p
  In an effort to increase price transparency, the Centers for Medicare and Medicaid Services (CMS) have publicly
  released for the first time a data set showing what hospitals charged and what Medicare paid for the 100 most common
  Medicare inpatient stays (Diagnostic Related Groups or DRGs) in 2011. And on June 3, 2013 CMS also released an outpatient
  data set, containing charges and Medicare payments for 30 select Ambulatory Payment Classification Codes (APCs), by facility.
  The differences between hospital charges and Medicare payments are striking, as is the enormous variation in hospital charges
  across and within communities.